<% if current_user%>
<h1>Hi, <%=current_user.first_name%></h1>
<% else %>
<h1>Hi, Guest User</h1> 
<% end %>


<h1> Blog Posts:</h1> 
<%=@posts.inspect%>

<h1> Skills Posts:</h1> 
<%=@skills.inspect%>

